.distribution-tabs-trigger {
  width: 100%;
  justify-content: center;
}
.distribution-tabs-trigger.tabs-trigger[data-state="active"] {
  color: #202020;
  border-bottom: 2px solid #202020;
}
.qcApproval-dropdown-content {
  position: absolute;
  left: -240px;
  top: -40px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  padding: 0px;
  width: 220px;
}

.segmented-root {
  margin-top: 20px;
  width: fit-content;
  width: 100%;
}

.segmented-inner {
  position: relative;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 4px;
  overflow-x: auto;
  height: 40px;
  padding: 0 4px;
  font-size: 14px;
  white-space: nowrap;
  overflow-y: hidden;
}

.segmented-thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: white;
  border-radius: 3px;
  padding: 8px 0;
  /* box-shadow: 0 0 0 1px #ccc; */
  transition: left 250ms ease, width 250ms ease;
  z-index: 0;
  margin: 6px;

  width: 22%;
}
.distribution-card-grid {
  grid-template-columns: repeat(5, 1fr);
}
.segmented-item {
  all: unset;
  text-align: center;
  padding: 0 20px;
  cursor: pointer;
  z-index: 1;
  /* font-weight: 500; */
  line-height: 40px;
  color: #333;
  transition: color 0.2s;
  width: 100%;
}

.segmented-item.active {
  color: black;
  font-weight: bold;
}

.segmented-content {
  margin-top: 20px;
  font-size: 16px;
}

/* single release page start */
.createRelease-overview-div {
  padding: 20px 20px 0 20px !important;
}
.createRelease-overview-div hr {
  border: 1px solid #f0f0f0;
  margin: 24px 0;
}
.createRelease-content-div .card-type-txt {
  font-size: 16px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 3px;
  margin-bottom: 16px;
}
.singleRelease-dropdown-content {
  position: absolute;
  left: -220px;
  top: -40px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  padding: 0px;
  width: 200px;
}
.singleRelease-dropdown-content img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.singleRelease-dropdown-content .dropdown-item {
  font-size: 16px;
}
.singleRelease-tabs .singleRelease-tabsList {
  display: flex;
  width: 100%;
}
.release-analytics {
  background: #fff;
  border-radius: 8px;
  padding: 16px 20px;
  margin: 0 20px 20px 20px;
}
.release-analytics h5 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
}
.rangeSliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
  margin-right: 47px;
}

.rangeSliderRoot .SliderTrack {
  background-color: #e0e0e0;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.rangeSliderRoot .SliderRange {
  position: absolute;
  background-color: #ea3958;
  border-radius: 9999px;
  height: 100%;
}

.rangeSliderRoot .SliderThumb {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ea3958;
  border-radius: 10px;
  border: 1px solid #fff;
}
.rangeSliderRoot .SliderThumb:hover {
  background-color: #ea3958;
}
.rangeSliderRoot .SliderThumb:focus {
  outline: none;
  /* box-shadow: 0 0 0 5px var(--black-a8); */
}
.analytics-card {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 16px;
}
.analytics-card h6 {
  font-size: 18px;
  font-weight: 500;
  color: #838383;
  margin: 0 0 10px 0;
}
.analytics-card h2 {
  font-size: 35px;
  font-weight: 500;
  color: #202020;
  margin: 0;
}
.analytics-card-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  margin-top: 10px;
}
.singleRelease-tabs button {
  width: 100%;
}

.singleRelease-tabs div {
  margin-bottom: 4px;
  column-gap: 16px;
}
.singleRelease-tabs div label {
  margin-bottom: 4px;
  display: block;
  color: #838383;
}
.singleRelease-tabs .tabs-trigger[data-state="active"] {
  color: #dc3e42;
}
.singleRelease-tabs .tabs-trigger {
  margin-bottom: -4px;
  font-size: 18px;
  justify-content: center;
}
.release-chart {
  margin-left: -33px;
}
.releaseCredit-items img {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.releaseCredit-items .d-flex {
  align-items: center;
}
.releaseCredit-items-title {
  width: 35%;
  color: #838383;
  font-size: 14px;
}
.release-album-title {
  font-size: 24px;
  color: #838383;
  font-weight: 500;
  margin: 0;
}
.release-track-download-btn,
.release-edit-track-btn {
  border: none;
  background-color: #e8e8e8;
  border-radius: 4px;
  padding: 6px 6px;
  margin-right: 28px;
  display: flex;
  align-items: center;
}
.release-edit-track-btn {
  background: #f9f9f9;
  border: 1px solid #bbbbbb;
}
.release-track-download-btn svg,
.release-edit-track-btn svg {
  width: 16px;
  margin-right: 8px;
}
.release-track-tabs-trigger.tabs-trigger[data-state="active"] {
  color: #202020;
  border-bottom: 2px solid #202020;
}
.release-track-tabs-trigger.tabs-trigger[data-state="active"] div {
  color: #fff;
  background: #202020;
}
.album-details {
  padding: 0 16px 16px 16px;
}
.singleRelease-track-details button {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 500;
}
.release-track-create-successful {
  width: 512px;
  margin: auto;
  text-align: center;
  padding: 24px;
  border: 1px solid #e2e8f0;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.createRelease-content-div textarea {
  width: 100%;
  height: 136px;
}
.release-album-list {
  display: flex;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding: 16px;
  align-items: center;
}
.release-album-list:last-child {
  margin-bottom: 0px;
}
.release-album-info {
  flex: 1;
  min-width: 0;
}

.album-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.release-album-list small {
  color: #838383;
}
.release-album-info-row,
.singleRelease-track-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 16px; */
}
.release-album-info-row p,
.singleRelease-track-details p {
  font-size: 14px;
  margin-bottom: 8px;
}
.release-album-info-row p:first-child,
.singleRelease-track-details p:first-child {
  color: #838383;
  width: 35%;
}
.release-album-info-row p:last-child,
.singleRelease-track-details p:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  padding-right: 8px;
}
.release-overview-img-div .release-overview-img {
  width: 256px;
  border-radius: 4px;
  margin-right: 24px;
}
.release-overview-img-div h1 {
  font-size: 60px;
  font-weight: 500;
  margin: 20px 0 0 0;
}
.release-overview-img-div h2 {
  font-size: 28px;
  margin: 16px 0 0 0;
  font-weight: 500;
  color: #838383;
}
.createRelease-content-div {
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.createRelease-content-div input {
  width: 100%;
  font-size: 16px;
}
.createRelease-content-div label {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 8px;
  display: block;
}
.createRelease-content-div .radio-group label {
  margin-top: 0px;
  margin-bottom: 0px;
}
.createRelease-content-div .form-grid {
  row-gap: 0px;
}
.createRelease-content-div .dropdown-trigger {
  color: rgba(0, 7, 27, 0.5);
  font-weight: 500;
}

.createRelease-content-div .releaseDtae-radio-group label span {
  /* margin: -20px 0 0 20px; */
  display: block;
  display: flex;
  justify-content: center;
}
.release-album-playIcon {
  min-width: 36px;
  min-height: 36px;
  margin-right: 20px;
}
.release-album-RangeDiv {
  margin-left: auto;
  align-items: center;
}
.release-album-RangeDiv p {
  font-size: 14px;
  margin-right: 24px;
}
.createRelease-content-div .form-grid {
  row-gap: 0px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  position: relative;
}
.singleRelease-editAlbum-btn {
  background: #f9f9f9;
  border: 1px solid #bbbbbb;
  padding: 10px 12px;
  border-radius: 8px;
}
.release-album-arrowIcon {
  min-width: 22px;
  min-height: 26px;
  color: #838383;
  cursor: pointer;
}
.singleRelease-modal-dropdown {
  width: 100%;
}
.singleRelease-modal-label {
  display: block;
  padding: 16px 0 8px 0;
}
.singleRelease-reject-modal input,
.singleRelease-reject-modal textarea {
  width: 100%;
}
.singleRelease-approved-txt {
  color: #838383;
  font-size: 12px;
  margin-left: 16px;
}

@media screen and (max-width: 1250px) {
  .rangeSliderRoot {
    width: 150px;
  }
}
@media screen and (max-width: 1215px) {
  .segmented-thumb {
    width: 24%;
  }
  .distribution-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .release-overview-img-div h1 {
    font-size: 50px;
  }
  .release-overview-img-div h2 {
    font-size: 26px;
  }
  .release-album-RangeDiv p {
    margin-right: 12px;
  }
  .rangeSliderRoot,
  .release-edit-track-btn {
    margin-right: 17px;
  }
}
@media screen and (max-width: 1150px) {
  .rangeSliderRoot {
    width: 120px;
  }
}
@media screen and (max-width: 1110px) {
  /* single release */
  .release-overview-img-div h1 {
    font-size: 45px;
  }
  .release-overview-img-div h2 {
    font-size: 26px;
  }
  .release-album-info-row p:first-child,
  .singleRelease-track-details p:first-child {
    width: 40%;
  }

  .release-overview-img-div .release-overview-img {
    width: 216px;
  }
  .release-edit-track-btn {
    margin-right: 8px;
  }
  .rangeSliderRoot {
    width: 110px;
  }
  .release-album-RangeDiv p {
    margin-right: 8px;
    font-size: 12px;
  }
  .rangeSliderRoot {
    margin-right: 10px;
  }
  .release-track-download-btn {
    margin-right: 10px;
  }
  .release-album-playIcon {
    margin-right: 12px;
  }
}
@media screen and (max-width: 1050px) {
  .release-album-playIcon {
    margin-right: 4px;
  }
}
@media screen and (max-width: 1035px) {
  .singleRelease-tabs .tabs-trigger {
    width: 50%;
  }
  .release-chart {
    width: 103% !important;
  }
  .rangeSliderRoot,
  .release-album-RangeDiv p {
    display: none;
  }
  .release-edit-track-btn {
    margin-right: 10px;
  }
  .release-track-download-btn {
    margin-right: 12px;
  }
  .release-album-playIcon {
    margin-right: 8px;
  }
}
@media screen and (max-width: 991px) {
  .segmented-thumb {
    width: 25%;
  }
  .release-album-info-row p:first-child,
  .singleRelease-track-details p:first-child {
    width: 45%;
  }
  /* single release */
  .release-overview-img-div h1 {
    font-size: 40px;
  }
  .release-overview-img-div h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 925px) {
  /* single release */
  .release-overview-img-div h1 {
    font-size: 37px;
  }
  .release-overview-img-div h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 908px) {
  .release-album-info-row p:first-child,
  .singleRelease-track-details p:first-child {
    width: 50%;
  }
  .releaseCredit-items .d-flex p {
    font-size: 14px;
  }
  .singleRelease-track-details {
    display: block;
  }
  .release-edit-track-btn {
    margin-right: 6px;
  }
  .release-track-download-btn {
    margin-right: 10px;
  }
  .release-album-list {
    padding-left: 8px;
    padding-right: 8px;
  }
  .release-album-playIcon {
    margin-right: 4px;
  }
}
@media screen and (max-width: 860px) {
  .release-track-download-btn {
    display: none;
  }
  .release-album-list {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (max-width: 830px) {
  .release-track-download-btn {
    display: block;
  }
  .distribution-card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .createRelease-content-div.main-content {
    margin-bottom: 20px !important;
  }
  .release-overview-img-div .release-overview-img {
    width: 200px;
  }
  .rangeSliderRoot,
  .release-album-RangeDiv p {
    display: flex;
  }
  .releaseCredit-items .d-flex p {
    font-size: 16px;
  }
  .release-analytics {
    margin-bottom: 90px;
  }
  .singleArtist-dropdown-btn {
    margin-top: 0;
  }
}
@media screen and (max-width: 793px) {
  .distribution-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .rangeSliderRoot,
  .release-album-RangeDiv p {
    display: none;
  }
}
@media screen and (max-width: 715px) {
  .singleRelease-track-details {
    display: block;
  }
  .singleRelease-track-details p:first-child {
    width: 35%;
  }
  .release-overview-img-div h1 {
    font-size: 30px;
  }
  .release-overview-img-div h2 {
    font-size: 22px;
  }
  .release-overview-img-div .release-overview-img {
    width: 156px;
  }
  .releaseCredit-formGrid {
    display: block;
  }
}
@media screen and (max-width: 630px) {
  .release-track-download-btn {
    display: none;
  }
}
@media screen and (max-width: 590px) {
  .segmented-thumb {
    width: 130px;
  }
  .segmented-item {
    padding: 0 10px;
  }
  .release-album-info-row {
    display: block;
  }
  .release-album-info-row p:first-child {
    width: 45%;
  }
}
@media screen and (max-width: 540px) {
  .singleRelease-tabs .singleRelease-tabsList {
    display: block;
  }
  .segmented-thumb {
    width: 130px;
  }
  .segmented-item {
    padding: 0 10px;
  }
  .createRelease-content-div .releaseDtae-radio-group label span {
    justify-content: start;
  }
  .release-overview-img-div {
    display: block;
  }
  .release-track-download-btn {
    display: none;
  }
  .release-overview-img-div h2 {
    margin-top: 0;
  }
  .release-overview-img-div h1 {
    margin: 8px 0 0 0;
  }

  .release-overview-img-div .release-overview-img {
    display: block;
    margin: auto auto 20px auto;
    width: 200px;
  }
  .release-track-download-btn {
    display: none;
  }
  .singleRelease-tabs .singleRelease-tabsList {
    display: block;
  }
  .singleRelease-tabs .tabs-trigger {
    width: 100%;
  }
}
@media screen and (max-width: 507px) {
  .release-edit-track-btn {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .segmented-thumb {
    width: 120px;
  }
  .segmented-item {
    padding: 0 0px 0 10px;
  }
  .createRelease-content-div {
    padding: 16px !important;
  }
  .release-overview-img-div h1 {
    font-size: 28px;
  }
  .release-overview-img-div h2 {
    font-size: 20px;
  }
  .release-album-playIcon {
    margin-right: 10px;
  }
}
